.background-image {
    background-image: url('../assets/IMG/desktop.svg');
    background-color: #f0f0f0; /* Color de fondo de respaldo */
    background-size: cover;
    background-position: center;
  }
  
  .image-container-semillas {
    background-image: url('../assets/IMG/desktopSemillas.svg');
    background-size: cover;
    background-position: center;
    min-width: 280px; /* Establece un ancho mínimo para el contenedor */
    min-height: 130px; /* Establece una altura mínima para el contenedor */
    width: 5%;
    height: 5%; /* Ajusta la altura deseada */
    z-index: 1;
    left: 10%;
  }
  
  @media (max-width: 768px) {
    .image-container-semillas {
      width: 10%;
      height: 10%;
      left: 5%;
    }
  }
  
 